.pagination button {
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #007bff;
  background: #0b7dda;
  margin-left: 3px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  background-color: #1aab8a;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover {
  background-color: #1aab8a;
}

.pagination .pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.pagination .pagination-list li {
  margin: 0 5px;
}

.pagination .pagination-link {
  background-color: #f2f2f2;
  color: #333;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination .pagination-link.is-current {
  background-color: #1aab8a;
  color: white;
}
