.content-products {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-items: center;
}

.card-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blueviolet; */
  width: 300px;
  height: 500px;
  margin: 40px 0px 20px 0px;
  background-color: #fff;
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 10px; 
  transition: transform 0.3s ease-in-out; 
}

.card-product:hover {
  transform: translateY(-5px);
}

.content-img {
  width: 100%;
  height: 65%;
  padding: 10px 20px;
  margin-bottom: 10px;
  position: relative;
}

.content-img img {
  width: 100%;
  height: 100%;
}

.info-product {
  /* background-color: yellow; */
  width: 100%;
  height: 25%;
  padding-left: 10px;
  padding-bottom: 10PX;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.info-product p{
  font-family: 'Mina', sans-serif;
}

.content-buttons{
  height: 10%;
  width: 100%;
  /* background-color: blue; */
  font-size: 30px;
  position: relative;
}

.content-buttons-animations{
  background-color: rgb(56, 55, 55);
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.1s;
  display: flex;
  justify-content: space-around;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.Add-Cart{
  border-right: 2px solid #000;
  width: 50%;
}

.icon-cart, .icon-heart{
  color: #fff;
}

.icon-cart:hover{
  color: orange;
}

.icon-heart:hover{
  color: red;
}

.like-button{
  width: 50%;
}


.card-product:hover .content-buttons-animations{
  transform: translateY(0);
  opacity: 1;
}


