.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #333333e3;
}

.Logo {
  height: 120px;
  width: 230px;
}

.content-svg-carrito i {
  font-size: 30px;
  color: rgb(255, 255, 255);
  position: relative;
}

.content-svg-carrito i:hover {
  color: orange;
  transition: 0.7s;
}

.carrito-enlace {
  position: relative;
}

.cart-counter {
  position: absolute;
  top: -25px;
  right: -10px;
  background-color: orange;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 9px;
}

.login-button {
  background: linear-gradient(to right, #1aab8a, #2bffcab7);
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 10px;
}

.login-button:hover {
  background: linear-gradient(to right, #2bffcab7, #1aab8a);
}

.input-group {
  width: 600px;
}

.input-group input {
  background-color: #fff;
}

.input-group button {
  background-color: #fff;
  border: none;
  border-radius: 10px;
}

.input-group button:hover {
  background-color: #fff;
}

.input-group i {
  color: black;
  font-size: 20px;
}

.input-group i:hover {
  color: orange;
}

.placeholder-Header {
  border-radius: 10px;
  border-style: none;
  padding: 0px 0px 0px 15px;
  height: 45px;
  width: 80%;
  background-color: #1aab8962;
  margin-left: 50px;
}

.placeholder-Header:focus {
  outline: none;
}
