:root {
  --bg-color-page: #1b2223;
  --bg-color-secondary: #3a4f50;
  --bg-color-strong: #21b59a;
  --bg-color-contrast: #f4fefd;

  font-size: 16px;

  --size-sm: 0.5rem;
  --size-m: 1rem;
  --size-g: 1.5rem;
  --size-xg: 2rem;
  --size-xxg: 3.5rem;

  --border-color: #ccc;
  --color-primary: #000;
  --color-secondary: #ccc;
}

.container-p {
  display: flex;
  justify-content: center;
}

.content-3-register {
  background-color: white;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-register {
  display: flex;
  justify-content: space-evenly;
  height: 8%;
  margin-top: 3px;
}

.content-title-register {
  display: flex;
}

.content-title-register i {
  font-size: 25px;
  margin-top: -8px;
}

.Register-link h2 {
  font-size: 23px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  padding-left: 15px;
}

.content-l-i {
  display: flex;
  height: 92%;
  margin-top: 4px;
}

.content-register {
  display: inline-block;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.content-register a {
  color: var(--bg-color-secondary);
  font-weight: 500;
}

.logo img {
  width: 120px;
}

.content-title-register {
  margin-bottom: 3%;
}

.content-title-register h1 {
  font-size: var(--size-xxg);
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
}

.content-button-google-register {
  width: 70%;
  margin-bottom: 4%;
}

.btn-google {
  background-color: white;
  background-image: url(../../assets/img/google-icon-small.png);
  background-repeat: no-repeat;
  background-position: var(--size-m) center;
  width: 100%;
  padding: 3px;
  border-radius: 5px;
  border: solid 1px var(--border-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  font-weight: bolder;
}

.line-register {
  height: 2px;
  background-color: var(--border-color);
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}

.content-separator-register {
  font-weight: bolder;
  display: inline-block;
  margin-bottom: 3%;
}

.content-separator-register span {
  color: var(--color-secondary);
  font-size: var(--size-m);
  vertical-align: middle;
  padding: 0 10px;
}

.content-form {
  display: flex;
  height: 50%;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin-bottom: 7%;
}

.form-register {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-register label {
  font-size: 20px;
  font-family: "PT Serif", serif;
  font-weight: bolder;
}

.user-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 35%;
}

.user-container .password-container,
input:focus {
  outline: none;
}

.password-container-register {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 35%;
  margin-bottom: 20px;
}

#usuario,
#password {
  border-radius: 5px;
  border: solid 1px var(--border-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 2px;
  margin: 3px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(15%);
  cursor: pointer;
}

.content-opcions-register {
  display: flex;
  justify-content: space-between;
  height: 20%;
  margin-bottom: 15px;
}

.content-button-register-1 {
  display: flex;
  justify-content: center;
  height: 10%;
}

.button-register {
  width: 100%;
  background-color: var(--bg-color-strong);
  padding: 3px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.button-register:hover {
  background-color: var(--bg-color-page);
}

.content-login-register a {
  margin-left: 5px;
}

.content-info-register {
  display: inline-block;
  width: 50%;
  height: 99%;
  border-left: 1px solid #000;
  background-size: 70%;
  background-image: url(../../assets/img/ilustracion.png);
  background-repeat: no-repeat;
  background-position: center center;
}
