.container-p {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(20, 178, 199, 0.8) 0%,
    rgba(33, 178, 197, 0.8) 40%,
    rgba(186, 179, 179, 0.8) 40%,
    rgba(158, 151, 151, 0.8) 100%
  );
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-login {
  height: 700px;
  width: 600px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: yellow;

  height: 10%;
}

.title-login i {
  font-size: 23px;
}

.title-login h2 {
  font-size: 23px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  padding-left: 15px;
}

.content-form {
  background-color: aquamarine;
  height: 90%;
}

.form-login{
    display: flex;
    flex-direction: column;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 420px;
  transform: translateY(-50%);
  cursor: pointer;
}
